@import "tailwindcss";

@theme {
  --color-background: #12131A;
  --color-surface: #1C1D26;
  --color-surface-hover: #2A2B36;
}

body {
  background-color: var(--color-background);
  color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
